version: '3'
 
networks:
  shell-network:
    driver: bridge
 
services:
 
  elasticsearch:
    image: "docker.elastic.co/elasticsearch/elasticsearch:7.10.1"
    container_name: elasticsearch
    networks:
     - shell-network
    ports:
    - "9200:9200"
    - "9300:9300"
    volumes:
    - /tmp:/usr/share/elasticsearch/data
    environment:
      discovery.type: single-node

 
  logstash:
    image: docker.elastic.co/logstash/logstash:7.10.1
    environment:
      - XPACK_MONITORING_ELASTICSEARCH_URL=http://elasticsearch:9200
      - XPACK_MONITORING_ELASTICSEARCH_USERNAME=elastic
      - XPACK_MONITORING_ELASTICSEARCH_PASSWORD=changeme
    ports:
      - "9600:9600"
    #volumes:
    #  - ./logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    depends_on:
      - elasticsearch
      
  kibana:
    image: "docker.elastic.co/kibana/kibana:7.10.1"
    container_name: kibana
    networks:
     - shell-network
    ports:
     - "5601:5601"
    environment:
      ELASTICSEARCH_URL: http://elasticsearch:9200
    depends_on:
     - elasticsearch
 
  cerebro:
    image: "lmenezes/cerebro"
    container_name: cerebro
    networks:
     - shell-network
    ports:
     - "9000:9000"
